<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=social.user.username) }}">
                <img src="{{ social.user.avatar(70) }}"/>
            </a>
        </td>
        <td>
            {% set user_link %}
            <a href="{{ url_for('user', username=social.user.username) }}">{{ social.user.username }}</a>
        {% endset %}
        {{ _('%(username)s said %(when)s',
        username=user_link, when=moment(social.date_posted).fromNow()) }}
        <br/>
        {{ social.content }}
    </td>
</tr>
</table>