{% extends 'bootstrap/base.html' %}
{% block styles %}
      {{ super() }}
      <style>
          .logo-row {
              display: flex;
              align-items: center;
              margin-bottom: 20px;
          }
          .logo {
              width: 25%;
              margin-right: 20px;
          }
          .banner {
              width: 75%;
          }
      </style>
{% endblock %}

{% block navbar %}
      <nav class="navbar navbar-default">
          <div class="container">
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_anonymous %}
                      <li>
                          <a href="{{ url_for('login') }}">{{ _('Login') }}</a>
                      </li>
                      <li>
                          <a href="{{ url_for('register') }}">{{ _('Register') }}</a>
                      </li>
                  {% else %}
                      <li>
                          <a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a>
                      </li>
                      <li>
                          <a href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
                      </li>
                  {% endif %}
              </ul>
          </div>
      </nav>
{% endblock %}

{% block content %}
      <div class="container">
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}<div class="alert alert-info" role="alert">{{ message }}</div>{% endfor %}
              {% endif %}
          {% endwith %}
          {# application content needs to be provided in the app_content block #}
          <div class="logo-row">
              <a href="{{ url_for('index') }}">
                  <img src="https://www.asia.ccb.com/hongkong_tc/personal/credit_cards/promotions/cinemas-offers/images/broadway-circuit-logo.jpg" alt="Logo" class="logo" style ="width: 200px;">
              </a>
              <img src="https://mediafiles.cinema.com.hk/broadway/cmsimg/cinweb/webcms/images/MGK-728-x-90-GDN_26437d0fa5e23b.JPG" alt="Banner" class="banner" style="flex-grow: 1; text-align: right;">
          </div>
          {% block app_content %}{% endblock %}
      </div>
{% endblock %}

{% block scripts %}
      {{ super() }}
      {{ moment.include_moment() }}
      {{ moment. lang(g. locale) }}
{% endblock %}