{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<h1>Edit Social Post</h1>
<form method="POST" action="{{ url_for('edit_social', id=social.id) }}">
    {{ form.csrf_token }}
    {{ form.title.label }} {{ form.title() }}
    {{ form.content.label }} {{ form.content() }}
    <button type="submit">Save</button>
</form>
{% endblock %}