{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    {% if form %}
        {{ wtf.quick_form(form) }}
        <br/>
    {% endif %}
    {% for post in posts %}
        {% include "_post.html.j2" %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
<h1>social</h1>
<ul>
{% for ad in ads %}
    <li>{{ ad.title }} - {{ ad.description }} - {{ ad.price }} <a href="{{ url_for('edit_ad', id=ad.id) }}">Edit</a> <form method="POST" action="{{ url_for('delete_ad', id=ad.id) }}"><button type="submit">Delete</button></form></li>
{% endfor %}
</ul>
<a href="{{ url_for('create_social') }}">Create</a>
{% endblock %}